<div class="box box-primary issues-today">
    <div class="box-header with-border">
        <h3 class="box-title">Issues Today</h3>

        <div class="box-tools pull-right">
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered"></table>
    </div>
    <!-- /.box-body -->

</div>