<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">{{t "views.app.widgets.weeklyMilestones.title"}}</h3>
    <div class="box-tools pull-right">
      <div class="has-feedback">
        <input type="text" class="form-control input-sm">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
  </div>

  <div class="box-body no-padding">

  </div>

  <div class="box-footer no-padding">
    <div class="mailbox-controls">
      <AppUi::Button type="button" class="btn btn-default btn-sm checkbox-toggle">
        <i class="fa fa-square-o"></i>
      </AppUi::Button>
      <div class="btn-group">
        <AppUi::Button type="button" class="btn btn-default btn-sm" @aclContext="App.Project.Milestone.Delete"><i class="fa fa-trash-o"></i></AppUi::Button>
        <AppUi::Button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></AppUi::Button>
        <AppUi::Button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></AppUi::Button>
      </div>
      <AppUi::Button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></AppUi::Button>
      <div class="pull-right">
        <div class="btn-group">
          <AppUi::Button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></AppUi::Button>
          <AppUi::Button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></AppUi::Button>
        </div>
      </div>
    </div>
  </div>
</div>