<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    {{nav-bar
            projectList=projectList
            projectId=projectId
            currentUser=currentUser}}
</section>
<!-- /.sidebar -->
