{{!-- sidebar: style can be found in sidebar.less --}}
<section class="sidebar">
  <AppUi::NavBar
      @projectList={{projectList}}
      @projectId={{projectId}}
      @currentUser={{currentUser}}/>
</section>
{{!-- /.sidebar --}}
