{{content-editable  placeholder=(t "view.app.conversation.messagebox") spellcheck=false value=comment}}
<div class="pull-right">
    <button type="button" class="btn btn-primary" {{action "saveComment" entity.id}}>{{t "view.app.conversation.post"}}</button>
</div>
