$primaryColor : #B3244F;
$highlightColor: #640c44;
$secondaryColor : #1B7BBA;
$borderColor : #E5E5E5;
$backgroundColor : #FFFFFF;
$baseSize : 1rem;
$lightColor: #CCCCCC;
$darkColor: #333333;
$blackColor: #000000;
