<!-- Detail template for text input field-->
<label>{{t definition.label}}:</label>
{{#if definition.help}}<i data-toggle="tooltip" data-placement="top" title="{{t definition.help}}" class="fa fa-question-circle"></i>{{/if}}
<div style="clear:both" />
<div class="fieldValue">
    {{getProp model definition.fieldName}}
</div>
