<div id="editor" {{initialize-toastui usersList=@usersList issueSearch=@issueSearch
    translatedEmojis=this.translatedEmojis contents=@contents onContentChange=@onContentChange editType=@editType
    hide=@hide placeholder=@placeholder initialValue=@initialValue}}>
</div>