<!-- Create template for date field-->
<label>{{t definition.label}}</label>
{{#if definition.required}}<span class="required">*</span>{{/if}}
{{#if definition.help}}<i data-toggle="tooltip" data-placement="top" title="{{t definition.help}}" class="fa fa-question-circle"></i>{{/if}}
<span class="hidden field-error">{{t definition.errorMsg}}</span>
<div style="clear:both" />
{{text-field key-up="changed" readonly="true" name=definition.fieldName placeholder=(t definition.label)}}
