.infinite-scroll-container {
  overflow-y: auto;
  position: relative;
  height: 100%;

  .infinite-scroll-end {
    padding: 10px;
    text-align: center;
    color: #777;
    margin-top: 10px;
    border-top: 1px solid #eee;

    .end-message {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      color: #6c757d;
      background-color: #f8f9fa;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;

      i {
        margin-right: 8px;
        color: #28a745;
      }
    }
  }
}

.infinite-scroll-load-more {
  padding: 0.5rem;
  text-align: center;
  border-top: 1px solid #eee;

  .load-more-button {
    padding: 0.3rem 0.8rem;
    font-size: 1.2rem;
    i {
      margin-right: 0.2rem;
    }
  }
}