.table-container {
  .box-tools {
    gap: 0.5rem;
    
    @include flexbox($alignItems: center);
    .fa-filter {
      font-size: 1.2rem;
      line-height: 0;
    }
  }

  .input-group {
    .input-group-addon,
    .form-control {
      height: 2.6rem;
    }

    .input-group-addon {
      padding: 0.4rem 0.8rem;
    }
  }
}
