.widgets-container {
  [data-recent-issues-table] {
    [data-active-filters-count] {
      padding: 0.1rem 0.4rem;
    }
  }

  .pagination-data-container {
    max-height: 32rem;
    overflow-y: auto;
  }

  .infinite-scroll-container {
    max-height: 32rem;
  }

  .weekly-timelogs {
    table {
      margin-bottom: 0;
    }
    .timelogs-summary {
      @include flexbox($display: flex, $justifyContent: space-between);
      margin-top: 2rem;
    }
  }

  .weekly-activities {
    .time-label {
      span {
        a {
          color: white;
        }
      }
    }

    .timeline-item {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 0.2rem 0.4rem 0px, rgba(14, 30, 37, 0.32) 0px 0.2rem 1.6rem 0px;
      background: #f7f7f7;
    }
  }

  [data-recent-conversations] {
    .accordion-body {
      background: #f7f7f7;
      padding: 0 1rem !important;
    }
    .conversations {
      .box-comments {
        margin-top: 2.5rem;
      }
    }
  }

  [data-refresh-button] {
    padding: 0.2rem 0.6rem;
    background-color: transparent;
    color: #333;
    font-size: 1.2rem;
    line-height: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }  

  [data-refresh-button]:active {
    background-color: transparent;
    box-shadow: none;
  }  
}
