.widgets-container {
  [data-recent-issues-table] {
    [data-active-filters-count] {
      padding: 0.1rem 0.4rem;
    }
  }

  .pagination-data-container {
    max-height: 32rem;
    overflow-y: auto;
  }

  .infinite-scroll-container {
    max-height: 32rem;
  }

  .weekly-timelogs {
    table {
      margin-bottom: 0;
    }
    .timelogs-summary {
      @include flexbox($display: flex, $justifyContent: space-between);
      margin-top: 2rem;
    }
  }

  .weekly-activities {
    .time-label {
      span {
        background-color: white !important;
        border: 1px solid $primaryColor;
      }
    }
  }

  [data-recent-conversations] {
    .accordion-body {
      background: #f7f7f7;
      padding: 0 1rem !important;
    }
    .conversations {
      .box-comments {
        margin-top: 2.5rem;
      }
    }
  }
}
