/* Licensing : http://legal.projects4.me/LICENSE.txt, please don't remove :) */

/**
  This contains the CSS related to the entire document
*/


.box.box-primary{
  border-top-color: $primaryColor !important;
}

.box.box-primary:after{
  content:'';
  width:100%;
  position: absolute;
  left:0;
  top:-0.3rem;
  height: 0.4rem;
  background: $primaryColor;
  background: -moz-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(100,12,68,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,36,79,1)), color-stop(100%, rgba(100,12,68,1)));
  background: -webkit-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(100,12,68,1) 100%);
  background: -o-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(100,12,68,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(100,12,68,1) 100%);
  background: linear-gradient(to right, rgba(179,36,79,1) 0%, rgba(100,12,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3244f', endColorstr='#640c44', GradientType=1 );
}

.btn-primary, .btn-primary[disabled]{
  background: $primaryColor;
  border-color: $primaryColor;
/*
  background: rgba(179,36,79,1);
  background: -moz-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(179,36,79,1) 71%, rgba(100,12,68,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,36,79,1)), color-stop(71%, rgba(179,36,79,1)), color-stop(100%, rgba(100,12,68,1)));
  background: -webkit-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(179,36,79,1) 71%, rgba(100,12,68,1) 100%);
  background: -o-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(179,36,79,1) 71%, rgba(100,12,68,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,36,79,1) 0%, rgba(179,36,79,1) 71%, rgba(100,12,68,1) 100%);
  background: linear-gradient(to right, rgba(179,36,79,1) 0%, rgba(179,36,79,1) 71%, rgba(100,12,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3244f', endColorstr='#640c44', GradientType=1 );
*/
//http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28179\%2C36\%2C79\%2C1\%29\%200\%25\%2C\%20rgba\%28179\%2C36\%2C79\%2C1\%29\%2071\%25\%2C\%20rgba\%28100\%2C12\%2C68\%2C1\%29\%20100\%25\%29\%3B'
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited,.btn-primary:focus,.btn-primary[disabled]:hover,.btn-primary[disabled]:active,.btn-primary[disabled]:visited,.btn-primary[disabled]:focus{
  background: $highlightColor;
  border-color: $highlightColor;
}

.path-seperator:after{
  content:"/";
}

.colon:after {
    content: ":";
    padding: 0.2rem;
}

.no-entry{
  color: $borderColor;
  font-style: italic;
}

.label-primary, .modal-primary .modal-body{
  background-color: $primaryColor !important;
  font-size: 1.2rem;
}

.disabled-text{
  color: $lightColor;
  font-style: italic;
}

.disabled{
  color: $lightColor;
  cursor: not-allowed;
}

.lock{
  cursor: pointer;
}

.lock:hover{
  color: $highlightColor;
}

.modified-by{
  color: $mediumColor;
  font-style: italic;
}

.no-project-selected{
  margin: 4rem 0rem;
}

.messenger{
    .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info{
      background-color: $backgroundColor !important;
      color: $darkColor !important;
    }

    .messenger-message.alert-error{
      border:0.1rem solid $errorColor !important;
    }

    .messenger-message.alert-success{
      border:0.1rem solid $successColor !important;
    }

    .messenger-message.alert-info{
      border:0.1rem solid $infoColor !important;
    }

    .messenger-message.alert-warning{
      border:0.1rem solid $warningColor !important;
      .messenger-message-inner:before{
        background-color: $warningColor !important;
      }
    }

    .messenger-message.alert-danger{
      border:0.1rem solid $dangerColor !important;
      .messenger-message-inner:before{
      background-color: $dangerColor !important;
      }
    }

    .messenger-message.alert-missing{
      border:0.1rem solid $missingColor !important;
      .messenger-message-inner:before{
        background-color: $missingColor !important;
      }
    }
}

span[data-atwho-at-query*="@"]{
  background: $primaryColor !important;
  color: $backgroundColor;
  padding: 0rem 0.3rem;
  border-radius: 0.3rem;
}

span[data-atwho-at-query*="#"]{
  color: $backgroundColor;
  border-radius: 0.3rem;

  a.done,a.complete{
    background-color: #5AC594 !important;
    padding: 0rem 0.3rem;
    color: $backgroundColor;
  }
  a.done:hover,a.complete:hover{
    background-color: #00a65a !important;
  }

  a.closed{
    background-color: #e98a7e;
    padding: 0rem 0.3rem;
    color: $backgroundColor;
  }
  a.closed:hover{
    background-color: #d33724 !important;
  }

  a.deferred,a.pending,a.feedback{
    background-color: #f7bf65;
    padding: 0rem 0.3rem;
    color: $backgroundColor;
  }
  a.deferred:hover,a.pending:hover,a.feedback:hover{
    background-color: #f39c12 !important;
  }

  a.new{
    background-color: #80b5d3;
    padding: 0rem 0.3rem;
    color: $backgroundColor;
  }
  a.new:hover{
    background-color: #3c8dbc !important;
  }

  a.in_progress{
    background-color: $primaryColor;
    padding: 0rem 0.3rem;
    color: $backgroundColor;
  }
  a.in_progress:hover{
    background-color: $highlightColor !important;
  }

}

[contenteditable=true]:empty:before {
  color: $mediumColor;
  content: attr(placeholder);
  display: block; /* For Firefox */
}
