/* Licensing : http://legal.projects4.me/LICENSE.txt, please don't remove :) */

/**
  This contains the CSS related to the header of the application.
*/

.logo img{
  width: 3.2rem;
  height: 3.2rem;
}

.logo .logo-lg img{
  margin-right: 1rem;
}
