.user-create {
    .form {
        display: flex;
        flex-wrap: wrap;

        div {
            flex-basis: 44%;
        }

        [data-field="user.dateOfBirth"] {
            .daterangepicker {
                .yearselect,
                .next.available,
                .prev.available {
                    display: none;
                }

                th:not([class]){
                    display: none;
                }

                .monthselect {
                    float: left;
                }
            }
        }
    }
}
