.user-create,
.user-edit {
    .form {
        display: flex;
        flex-direction: column;

        [data-field="user.dateOfBirth"] {
            .daterangepicker {
                .yearselect,
                .next.available,
                .prev.available {
                    display: none;
                }

                th:not([class]) {
                    display: none;
                }

                .monthselect {
                    float: left;
                }
            }
        }
    }

    .profile-picture {
        a {
            position: relative;
            img {
                transition: 0.5s ease;
            }
        }

        i {
            left: 50%;
            top: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            position: absolute;
            color: grey;
            font-size: 2rem;
        }

        a:hover {
            cursor: pointer;
            
            img {
                opacity: 0.3;
            }

            i {
                opacity: 1;
            }
        }
    }
}
