<!-- This should be loaded later via the field view ideally -->
{{text-field required="required" value=value}}
<span class="highlight"></span>
<span class="bar"></span>
<label>{{label}}</label>

<br/>
{{isTyping}}
