<select {{on "change" (fn this.updateAccessLevel @permission @flag)}}>
  {{#each @options as |optionObject|}}
  <option value={{optionObject.value}} selected={{eq @value optionObject.value}}>{{optionObject.label}}</option>
  {{/each}}
</select>