<div class="error-page">
  <h2 class="headline text-warning">404</h2>
  <div class="error-content">
      <h3>
          <i class="fa fa-warning text-yellow"></i>
          {{t "errors.api.pageNotFound"}}
      </h3>
  </div>
</div>