<span class="relate-user">
  {{#if @data.value}}
    <img src="http://projects4me/userimage/get/{{@data.value}}" class="user-relate-icon" alt="{{t "global.form.image"}}">
  {{/if}}
  <span class="username">{{@data.label}}</span>
</span>