<section class="content-header">
  <h1>
    {{t "application"}}
  </h1>
</section>

<section class="content">
    {{#each widgets as |value key|}}
        {{component (concat 'widgets/' (dasherize value)) data=(get-prop this value)}}
    {{/each}}
</section>
