<div id="search-field" data-search-module="user-management">
  <Input @type="text" 
    placeholder={{@placeholder}} 
    {{on "input" this.onInput}}
  />
  <i class="fa fa-search" aria-hidden="true"></i>
</div>