<AccessControl @aclContext={{@aclContext}}>
  <div id="search-field" data-module="user-management">
    <Input @type="text" 
      placeholder={{@placeholder}} 
      {{on "input" this.onInput}}
    />
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</AccessControl>