<!-- List template for datetime field-->
<span>
  {{#if definition.link}}
    <a href="javascript:void(0);" {{action navigate}}>{{get-date model field}}</a>
  {{else}}
    {{get-date model field}}
  {{/if}}
</span>
