<!-- List template for datetime field-->
<span>
  {{#if definition.link}}
    <a href="javascript:void(0);" {{action navigate}}>{{getDate model field}}</a>
  {{else}}
    {{getDate model field}}
  {{/if}}
</span>
