<div class="info-box bg-gray">
  <span class="info-box-icon"><i class="fa fa-times"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">{{t (concat "views.app.milestone.lists.status." this.milestone.status)}}</span>
    {{yield}}
  </div>
</div>
