<aside class="main-sidebar">
    <section class="sidebar">
        <AppUi::NavBar
            @projectList={{projectList}}
            @projectId={{projectId}}
            @currentUser={{currentUser}}/>
    </section>
</aside>